:root {
    --primary-color: #00c0ce;
    --font-color-gray: #8b8b8b;
}

/* utilities */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: .8rem 1.8rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 2rem;
    border-radius: 20px;
}

/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 80%;
    scroll-behavior: smooth !important;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    position: relative;
    padding: 3rem 7rem 0 7rem;
}

/* Desktop UI */

/* Section Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.humburger {
    display: none;
}

header h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease-in-out;
}

nav a:hover::before {
    opacity: 1;
    width: 65px;
}

nav a::before {
    position: absolute;
    bottom: -10px;
    content: '';
    width: 5px;
    opacity: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: .3s ease-in-out;
}

nav a:first-child {
    color: var(--primary-color);
}

/* Section Home */

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    gap: 2rem;
    margin-bottom: 10rem;
}

/* LL */

#home .left-layout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

#home .left-layout .left-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    gap: 1.2rem;
}

#home .left-layout .left-title h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

#home .left-layout .left-title p {
    font-size: 1.7rem;
    color: var(--font-color-gray);
}

#home .left-layout .left-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#home .left-layout .left-btn a {
    position: absolute;
    left: 0;
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    padding: .8rem 1.8rem;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 2rem;
    border-radius: 20px;
    transition: .2s ease-in;
}

#home .left-layout .left-btn a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#home .left-layout .left-btn a:last-child {
    left: 140px;
    background-color: var(--primary-color);
    color: #fff;
}

#home .left-layout .left-btn a:last-child:hover {
    background-color: var(--primary-color);
    filter: grayscale(10%);
}

/* RL */

#home .right-layout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#home .right-layout img {
    width: 550px;
    margin-right: 2rem;
    border-radius: 5px;
}

#home .right-layout .square {
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 110px;
    height: 120px;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: translateZ(20px);
}

#home .right-layout .square span {
    display: block;
    position: relative;
    left: -50px;
    bottom: 58px;
    width: 200px;
    height: 8px;
    margin-top: 1.05rem;
    text-align: center;
    background-color: var(--primary-color);
    transform: rotate(135deg);
}

/* About Section */

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rem;
}

/* LL */

#about .image-content {
    position: relative;
}

#about .image-content .square-img {
    position: relative;
    width: 400px;
    height: 520px;
    border: 8px solid var(--primary-color);
    background-color: transparent;
}

#about .image-content img {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 500px;
    height: 600px;
}

#about .image-content .square {
    position: absolute;
    top: 520px;
    left: 430px;
    right: 0;
    width: 110px;
    height: 120px;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
}

#about .image-content .square span {
    display: block;
    position: relative;
    left: -50px;
    bottom: 58px;
    width: 200px;
    height: 8px;
    margin-top: 1.05rem;
    text-align: center;
    background-color: var(--primary-color);
    transform: rotate(135deg);
}

/* RL */

#about .image-explain .title-about {
    width: 550px;
    margin-bottom: 4rem;
}

#about .image-explain .title-about h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#about .image-explain .title-about p {
    font-size: 1.8rem;
    color: var(--font-color-gray);
}

#about .image-explain .title-component {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about .image-explain .title-component .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#about .image-explain .title-component .box h1 {
    font-size: 3rem;
}

#about .image-explain .title-component .box .lines {
    position: relative;
    width: 4rem;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 5px;
    animation: lines ease-in-out .7s alternate infinite;
}

#about .image-explain .title-component .box p {
    font-size: 1.8rem;
    font-weight: 500;
}
/* Animation */
@keyframes lines {
    from {
        left: -7px;
    }
    to {
        left: 5px;
    }
}

/* Services Section */

#service {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20rem;
}

/* LL */

#service .title-service {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

#service .title-service .btn {
    margin-top: -3rem;
}

#service .title-service .title-left {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

#service .title-service .title-left h1 {
    font-size: 3rem;
    margin-bottom: .8rem;
}

#service .title-service .title-left p {
    font-size: 1.8rem;
    color: var(--font-color-gray);
}

#service .title-service .title-left .square {
    position: absolute;
    top: -18px;
    left: -25px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    z-index: -1;
}

#service .title-service .title-left .square span {
    display: block;
    position: relative;
    left: -50px;
    bottom: 58px;
    width: 200px;
    height: 6px;
    margin-top: .9rem;
    text-align: center;
    background-color: var(--primary-color);
    transform: rotate(135deg);
}

/* RL */

#service .content-service {
    width: 100%;
    padding: .5rem 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#service .content-service .box-service {
    width: fit-content;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .2);
}

#service .content-service .box-service .box-explain {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

#service .content-service .box-service .box-explain h1 {
    font-size: 1.8rem;
}

#service .content-service .box-service .box-explain p {
    font-size: 1.3rem;
    color: var(--font-color-gray);
}

/* Contact Section */

#contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 10rem;
}

#contact .title-contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 3rem;
}

#contact .title-contact .square-contact {
    position: absolute;
    top: -8px;
    left: -9px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 4px solid var(--primary-color);
    z-index: -1;
}

#contact .title-contact h1 {
    font-size: 3rem;
}

#contact .title-contact p {
    font-size: 1.8rem;
    color: var(--font-color-gray);
}

#contact .content-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LL */

#contact .content-contact .left-content {
    position: relative;
}

#contact .content-contact .left-content .container-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 4px solid var(--primary-color);
    padding: 3rem 2rem;
    width: 430px;
    height: 450px;
    gap: 3rem;
    margin-top: 1rem;
}

#contact .content-contact .left-content .container-form h1 {
    font-size: 2rem;
}

#contact .content-contact .left-content .container-form form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
    column-gap: 2rem;
    row-gap: 4rem;
}

#contact .content-contact .left-content .container-form form button {
    position: absolute;
    bottom: 30px;
    border: 1px solid var(--primary-color);
    padding: .5rem 2.5rem;
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
}

#contact .content-contact .left-content .container-form form button:hover {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
}

#contact .content-contact .left-content .container-form form input {
    display: inline-block;
    border: none;
    border-bottom: 2px solid var(--font-color-gray);
    width: 90%;
    outline: none;
}

#contact .content-contact .left-content .container-form form #Message {
    display: block;
    width: 205%;
}

#contact .content-contact .left-content .container-form form label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

/* RL */

#contact .content-contact .right-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
}

#contact .content-contact .right-content iframe {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .5);
}

/* Footer Section */

footer {
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem 7rem;
}

footer h1 {
    font-size: 3rem;
}

footer p {
    width: 28%;
    font-size: 1.2rem;
}

/* Tablet UI */

@media only screen and (max-width: 1024px) {
    html {
        font-size: 60%;
    }

    body {
        padding: 3rem 5rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.5rem;
    }
    
    header h1 {
        font-weight: 600;
        font-size: 2.5rem;
    }
    
    nav {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        color: black;
        text-decoration: none;
        font-weight: 600;
        transition: .3s ease-in-out;
    }
    
    nav a:hover::before {
        opacity: 1;
        width: 65px;
    }
    
    nav a::before {
        position: absolute;
        bottom: -10px;
        content: '';
        width: 5px;
        opacity: 0;
        height: 2px;
        background-color: var(--primary-color);
        transition: .3s ease-in-out;
    }
    
    nav a:first-child {
        color: var(--primary-color);
    }
    
    /* Section Home */
    
    #home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 4rem 0;
        gap: 2rem;
        margin-bottom: 10rem;
    }
    
    /* LL */
    
    #home .left-layout {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    
    #home .left-layout .left-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 550px;
        gap: 1.2rem;
    }
    
    #home .left-layout .left-title h1 {
        font-size: 3.5rem;
        font-weight: 600;
    }
    
    #home .left-layout .left-title p {
        font-size: 1.7rem;
        color: var(--font-color-gray);
    }
    
    #home .left-layout .left-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    #home .left-layout .left-btn a {
        position: absolute;
        left: 50%;
        display: inline-block;
        text-decoration: none;
        border: 1px solid var(--primary-color);
        padding: .8rem 1.8rem;
        color: black;
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 2rem;
        border-radius: 20px;
        transition: .2s ease-in;
    }
    
    #home .left-layout .left-btn a:hover {
        background-color: var(--primary-color);
        color: #fff;
    }
    
    #home .left-layout .left-btn a:last-child {
        left: 160px;
        background-color: var(--primary-color);
        color: #fff;
        padding: .8rem 1.35rem;
    }
    
    #home .left-layout .left-btn a:last-child:hover {
        background-color: var(--primary-color);
        filter: grayscale(10%);
    }
    
    /* RL */
    
    #home .right-layout {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    #home .right-layout img {
        width: 550px;
        margin-right: 0px;
        border-radius: 5px;
    }
    
    #home .right-layout .square {
        position: absolute;
        bottom: -20px;
        right: -20px;
        width: 110px;
        height: 120px;
        background-color: transparent;
        border-radius: 5px;
        overflow: hidden;
        transform-style: preserve-3d;
        transform: translateZ(20px);
    }
    
    #home .right-layout .square span {
        display: block;
        position: relative;
        left: -50px;
        bottom: 65px;
        width: 220px;
        height: 9px;
        margin-top: 1.2rem;
        text-align: center;
        background-color: var(--primary-color);
        transform: rotate(135deg);
    }
    
    /* About Section */
    
    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20rem;
        gap: 15rem;
        text-align: center;
    }
    
    /* LL */
    
    #about .image-content {
        position: relative;
        left: -55px;
    }
    
    #about .image-content .square-img {
        position: relative;
        width: 400px;
        height: 520px;
        border: 8px solid var(--primary-color);
        background-color: transparent;
    }
    
    #about .image-content img {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 500px;
        height: 600px;
    }
    
    #about .image-content .square {
        position: absolute;
        top: 520px;
        left: 430px;
        right: 0;
        width: 110px;
        height: 120px;
        background-color: transparent;
        border-radius: 5px;
        overflow: hidden;
    }
    
    #about .image-content .square span {
        display: block;
        position: relative;
        left: -50px;
        bottom: 55px;
        width: 200px;
        height: 9px;
        margin-top: 1.2rem;
        text-align: center;
        background-color: var(--primary-color);
        transform: rotate(135deg);
    }
    
    /* RL */
    
    #about .image-explain .title-about {
        width: 550px;
        margin-bottom: 4rem;
    }
    
    #about .image-explain .title-about h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    #about .image-explain .title-about p {
        font-size: 1.8rem;
        color: var(--font-color-gray);
    }
    
    #about .image-explain .title-component {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #about .image-explain .title-component .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    
    #about .image-explain .title-component .box h1 {
        font-size: 3rem;
    }
    
    #about .image-explain .title-component .box .lines {
        position: relative;
        width: 4rem;
        height: 8px;
        background-color: var(--primary-color);
        border-radius: 5px;
        animation: lines ease-in-out .7s alternate infinite;
    }
    
    #about .image-explain .title-component .box p {
        font-size: 1.8rem;
        font-weight: 500;
    }
    /* Animation */
    @keyframes lines {
        from {
            left: -7px;
        }
        to {
            left: 5px;
        }
    }
    
    /* Services Section */
    
    #service {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20rem;
    }
    
    /* LL */
    
    #service .title-service {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    #service .title-service .btn {
        margin-top: -3rem;
    }
    
    #service .title-service .title-left {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 4rem;
    }
    
    #service .title-service .title-left h1 {
        font-size: 3rem;
        margin-bottom: .8rem;
    }
    
    #service .title-service .title-left p {
        font-size: 1.8rem;
        color: var(--font-color-gray);
    }
    
    #service .title-service .title-left .square {
        position: absolute;
        top: -10px;
        left: -15px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 5px;
        overflow: hidden;
        z-index: -1;
    }
    
    #service .title-service .title-left .square span {
        display: block;
        position: relative;
        left: -50px;
        bottom: 58px;
        width: 200px;
        height: 6px;
        margin-top: .9rem;
        text-align: center;
        background-color: var(--primary-color);
        transform: rotate(135deg);
    }
    
    /* RL */
    
    #service .content-service {
        width: 100%;
        padding: .5rem 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.1rem;
    }
    
    #service .content-service .box-service {
        width: fit-content;
        height: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .2);
        margin-bottom: 2rem;
    }
    
    #service .content-service .box-service .box-explain {
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
    
    #service .content-service .box-service .box-explain h1 {
        font-size: 1.8rem;
    }
    
    #service .content-service .box-service .box-explain p {
        font-size: 1.3rem;
        color: var(--font-color-gray);
    }
    
    /* Contact Section */
    
    #contact {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 10rem;
    }
    
    #contact .title-contact {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 7rem;
    }
    
    #contact .title-contact .square-contact {
        position: absolute;
        top: -8px;
        left: -9px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 4px solid var(--primary-color);
        z-index: -1;
    }
    
    #contact .title-contact h1 {
        font-size: 3rem;
    }
    
    #contact .title-contact p {
        font-size: 1.8rem;
        color: var(--font-color-gray);
    }
    
    #contact .content-contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10rem;
    }
    
    /* LL */
    
    #contact .content-contact .left-content {
        position: relative;
    }
    
    #contact .content-contact .left-content .container-form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border: 4px solid var(--primary-color);
        padding: 3rem 2rem;
        width: 430px;
        height: 450px;
        gap: 3rem;
        margin-top: 1rem;
    }
    
    #contact .content-contact .left-content .container-form h1 {
        font-size: 2rem;
    }
    
    #contact .content-contact .left-content .container-form form {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 2rem;
        column-gap: 2rem;
        row-gap: 4rem;
    }
    
    #contact .content-contact .left-content .container-form form button {
        position: absolute;
        bottom: 30px;
        border: 1px solid var(--primary-color);
        padding: .5rem 2.5rem;
        transition: .3s ease-in-out;
        cursor: pointer;
    }
    
    #contact .content-contact .left-content .container-form form button:hover {
        background-color: var(--primary-color);
        color: #fff;
        font-weight: 600;
    }
    
    #contact .content-contact .left-content .container-form form input {
        display: inline-block;
        border: none;
        border-bottom: 2px solid var(--font-color-gray);
        width: 90%;
        outline: none;
    }
    
    #contact .content-contact .left-content .container-form form #Message {
        display: block;
        width: 205%;
    }
    
    #contact .content-contact .left-content .container-form form label {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }
    
    /* RL */
    
    #contact .content-contact .right-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        font-size: 2rem;
    }
    
    #contact .content-contact .right-content iframe {
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .5);
    }
    
    /* Footer Section */
    
    footer {
        position: absolute;
        bottom: -250px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--primary-color);
        color: #fff;
        padding: 2rem 7rem;
    }
    
    footer h1 {
        font-size: 3rem;
    }
    
    footer p {
        width: 28%;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 40%;
    }

    body {
        position: relative;
        padding: 3rem 5rem;
    }

    header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        padding: 2rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.5rem;
        background-color: var(--primary-color);
        z-index: 5;
    }

    .humburger {
        display: inline-block;
        font-size: 2.5rem;
        font-weight: 600;
        margin-right: 1rem;
        color: #fff;
    }
    
    header h1 {
        font-weight: 600;
        font-size: 3rem;
        color: #fff;
    }
    
    nav {
        position: absolute;
        right: 30px;
        top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--primary-color);
        padding: 1.8rem;
        z-index: 100;
        border-radius: 5px;
        transition: .3s ease-in-out;
        gap: 2rem;
        opacity: 0;
    }
    
    nav.active {
        opacity: 1;
    }

    nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        transition: .3s ease-in-out;
    }
    
    nav a:hover::before {
        opacity: 1;
        width: 65px;
    }
    
    nav a::before {
        position: absolute;
        bottom: -10px;
        content: '';
        width: 5px;
        opacity: 0;
        height: 2px;
        background-color: var(--primary-color);
        transition: .3s ease-in-out;
    }
    
    nav a:first-child {
        color: #fff;
    }
    
    /* Section Home */
    
    #home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 4rem 0;
        gap: 2rem;
        margin-bottom: 10rem;
        margin-top: 3rem;
    }
    
    /* LL */
    
    #home .left-layout {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    
    #home .left-layout .left-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        gap: 1.2rem;
        margin-top: 2rem;
    }
    
    #home .left-layout .left-title h1 {
        font-size: 3rem;
        font-weight: 600;
    }
    
    #home .left-layout .left-title p {
        font-size: 1.5rem;
        width: 320px;
        color: var(--font-color-gray);
    }
    
    #home .left-layout .left-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    #home .left-layout .left-btn a {
        position: absolute;
        left: 32%;
        display: inline-block;
        text-decoration: none;
        border: 1px solid var(--primary-color);
        padding: .6rem 1.6rem;
        color: black;
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 2rem;
        border-radius: 20px;
        transition: .2s ease-in;
    }
    
    #home .left-layout .left-btn a:hover {
        background-color: var(--primary-color);
        color: #fff;
    }
    
    #home .left-layout .left-btn a:last-child {
        left: 180px;
        background-color: var(--primary-color);
        color: #fff;
        padding: .6rem 1.15rem;
    }
    
    #home .left-layout .left-btn a:last-child:hover {
        background-color: var(--primary-color);
        filter: grayscale(10%);
    }
    
    /* RL */
    
    #home .right-layout {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    #home .right-layout img {
        width: 280px;
        margin-right: 0px;
        border-radius: 5px;
    }
    
    #home .right-layout .square {
        position: absolute;
        bottom: -10px;
        right: -10px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 5px;
        overflow: hidden;
        transform-style: preserve-3d;
        transform: translateZ(20px);
    }
    
    #home .right-layout .square span {
        display: block;
        position: relative;
        left: -50px;
        bottom: 65px;
        width: 220px;
        height: 6px;
        margin-top: 1.2rem;
        text-align: center;
        background-color: var(--primary-color);
        transform: rotate(135deg);
    }
    
    /* About Section */
    
    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20rem;
        gap: 15rem;
        text-align: center;
    }
    
    /* LL */
    
    #about .image-content {
        position: relative;
        left: -55px;
    }
    
    #about .image-content .square-img {
        position: relative;
        width: 230px;
        height: 350px;
        border: 8px solid var(--primary-color);
        background-color: transparent;
    }
    
    #about .image-content img {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 300px;
        height: 400px;
    }
    
    #about .image-content .square {
        position: absolute;
        top: 370px;
        left: 275px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 5px;
        overflow: hidden;
    }
    
    #about .image-content .square span {
        display: block;
        position: relative;
        left: -50px;
        bottom: 55px;
        width: 200px;
        height: 6px;
        margin-top: 1.2rem;
        text-align: center;
        background-color: var(--primary-color);
        transform: rotate(135deg);
    }
    
    /* RL */
    
    #about .image-explain .title-about {
        width: 300px;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }
    
    #about .image-explain .title-about h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    #about .image-explain .title-about p {
        font-size: 1.8rem;
        color: var(--font-color-gray);
    }
    
    #about .image-explain .title-component {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #about .image-explain .title-component .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    
    #about .image-explain .title-component .box h1 {
        font-size: 3rem;
    }
    
    #about .image-explain .title-component .box .lines {
        position: relative;
        width: 4rem;
        height: 8px;
        background-color: var(--primary-color);
        border-radius: 5px;
        animation: lines ease-in-out .7s alternate infinite;
    }
    
    #about .image-explain .title-component .box p {
        font-size: 1.8rem;
        font-weight: 500;
    }
    /* Animation */
    @keyframes lines {
        from {
            left: -7px;
        }
        to {
            left: 5px;
        }
    }
    
    /* Services Section */
    
    #service {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20rem;
    }
    
    /* LL */
    
    #service .title-service {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    #service .title-service .btn {
        font-size: 1rem;
        margin-top: -3rem;
        display: none;
    }
    
    #service .title-service .title-left {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 4rem;
    }
    
    #service .title-service .title-left h1 {
        font-size: 3rem;
        margin-bottom: .8rem;
    }
    
    #service .title-service .title-left p {
        font-size: 1.8rem;
        color: var(--font-color-gray);
    }
    
    #service .title-service .title-left .square {
        position: absolute;
        top: -7px;
        left: -13px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 5px;
        overflow: hidden;
        z-index: -1;
    }
    
    #service .title-service .title-left .square span {
        display: block;
        position: relative;
        left: -50px;
        bottom: 58px;
        width: 200px;
        height: 3px;
        margin-top: .8rem;
        text-align: center;
        background-color: var(--primary-color);
        transform: rotate(135deg);
    }
    
    /* RL */
    
    #service .content-service {
        width: 100%;
        padding: .5rem 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.1rem;
    }
    
    #service .content-service .box-service {
        width: fit-content;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .2);
        margin-bottom: 5rem;
    }
    
    #service .content-service .box-service .box-explain {
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
    
    #service .content-service .box-service .box-explain h1 {
        font-size: 2rem;
    }
    
    #service .content-service .box-service .box-explain p {
        font-size: 1.5rem;
        color: var(--font-color-gray);
    }
    
    /* Contact Section */
    
    #contact {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 10rem;
    }
    
    #contact .title-contact {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 7rem;
    }
    
    #contact .title-contact .square-contact {
        position: absolute;
        top: -8px;
        left: -9px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 4px solid var(--primary-color);
        z-index: -1;
    }
    
    #contact .title-contact h1 {
        font-size: 3rem;
    }
    
    #contact .title-contact p {
        font-size: 1.8rem;
        color: var(--font-color-gray);
    }
    
    #contact .content-contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10rem;
    }
    
    /* LL */
    
    #contact .content-contact .left-content {
        position: relative;
    }
    
    #contact .content-contact .left-content .container-form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border: 4px solid var(--primary-color);
        padding: 3rem 2rem;
        width: 330px;
        height: 300px;
        gap: 3rem;
        margin-top: 1rem;
    }
    
    #contact .content-contact .left-content .container-form h1 {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
    
    #contact .content-contact .left-content .container-form form {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 2rem;
        column-gap: 2rem;
        row-gap: 4rem;
    }
    
    #contact .content-contact .left-content .container-form form button {
        position: absolute;
        bottom: 30px;
        border: 1px solid var(--primary-color);
        padding: .5rem 3rem;
        transition: .3s ease-in-out;
        cursor: pointer;
        font-size: 1.5rem;
    }
    
    #contact .content-contact .left-content .container-form form button:hover {
        background-color: var(--primary-color);
        color: #fff;
        font-weight: 600;
    }
    
    #contact .content-contact .left-content .container-form form input {
        display: inline-block;
        border: none;
        border-bottom: 2px solid var(--font-color-gray);
        width: 90%;
        outline: none;
    }

    #contact .content-contact .left-content .container-form form input::placeholder {
        font-size: 1.7rem;
    }
    
    #contact .content-contact .left-content .container-form form #Message {
        display: block;
        width: 200%;
    }
    
    #contact .content-contact .left-content .container-form form label {
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }
    
    /* RL */
    
    #contact .content-contact .right-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        font-size: 2.5rem;
    }
    
    #contact .content-contact .right-content iframe {
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .5);
        width: 300px;
        height: 300px;
    }
    
    /* Footer Section */
    
    footer {
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--primary-color);
        color: #fff;
        padding: 2rem 7rem;
    }
    
    footer h1 {
        font-size: 3rem;
    }
    
    footer p {
        width: 50%;
        font-size: 1.2rem;
    }
}